.main-section{
    display: flex;
    margin: 25px 5px;
    flex-wrap: wrap;
}
.section{
    background-color:white ;
    border-radius: 5px;
    width: 32%;
    padding: 15px;
    margin-left: 10px;
    margin-bottom: 20px;
}
.profile{
    border-bottom:2px solid gray ;
    text-align: center;
    position: relative;
}
.profile .icon {
top: 0;
position: absolute;
left: 0;
}
.icon span{
    border-radius: 50%;
    background-color: #ddd;
    width: 30px;
    height: 30px;
    display: inline-block;
    text-align: center;
    padding: 5px;
    font-size: 16px;
    color: gray;
    cursor: pointer;
}
.icon span:hover{
    background-color: blue;
    color: white;
}
.profile img{
    border-radius: 50%;
    width: 100px;
    height: 100px;
    margin-top: 15px ;
}
.works{
    border-bottom:2px solid gray ;
    display: flex;
    position: relative;
}
.works ul{
    list-style: none;
    padding: 0;
    display: block;
    width: 60%;
    
}
.works ul li{
    letter-spacing: 1px;
    font-size: 18px;
    margin: 5px;

}
.works .vip{
    width: 40%;
    text-align: right;
    font-size: 48px;
    font-weight: bolder;
    padding: 25px;
    text-transform: uppercase;
    letter-spacing: 2px;
    opacity: .4;
    color: gold;
}
.detail{
    display: flex;
}
.detail p{
    color: gray;
    width: 50%;
}

.detail a{
    text-decoration: none;
    color: white;
    display: block;
    font-size: 15px;
    font-weight: bolder;
    text-transform: capitalize;
    padding: 10px;
    border-radius: 5px;
    margin: 10px 5px;
    width: 25%;
    outline:none ;
    text-align: center;
}